S3method(anova,emplm)
S3method(anova,empq)
S3method(anova,rlp)
S3method(coef,FroeseWs)
S3method(coef,emp)
S3method(coef,empq)
S3method(coef,rlp)
S3method(fitPlot,emplm)
S3method(fitPlot,empq)
S3method(fitPlot,emprq)
S3method(fitPlot,rlp)
S3method(plot,FroeseWs)
S3method(plot,emplm)
S3method(plot,empq)
S3method(plot,rlp)
S3method(predict,emp)
S3method(predict,empq)
S3method(predict,rlp)
S3method(print,willis)
S3method(residPlot,emplm)
S3method(residPlot,rlp)
S3method(summary,emp)
S3method(summary,empq)
S3method(summary,rlp)
S3method(summary,willis)
export(FroeseWs)
export(chooseColors)
export(emp)
export(paletteChoices)
export(rlp)
export(wsValidate)
importFrom(FSA,fitPlot)
importFrom(FSA,residPlot)
importFrom(gdata,drop.levels)
importFrom(gplots,rich.colors)
importFrom(quantreg,rq)
